<div class="row" mat-dialog-title>
    <div class="col-11">
      <h1>Detalles del plato</h1>
  
    </div>



<div mat-dialog-content>
    <ul>
        <li>
            <span>Nombre: {{ data.title }}</span>
        </li>
        <li>
            <span>Precio: $ {{ data.pricePerServing}}</span>
        </li>
        <li>
            <span>Tiempo de preparacion: {{ data.readyInMinutes}} Minutos</span>
        </li>
        <li>
            <span>HealthScore: {{ data.healthScore }} Puntos</span>
        </li>
        <li>
            <span>¿Es vegano?: {{ vegan }}</span>
        </li>
    </ul>
</div>


