:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }
  .mat-form-field {
    width: 100%;
    min-width: 200px;
  }
  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }

.span {
  color: rgb(255, 0, 0);
}