<p>
    <mat-toolbar>
      <span>Home</span>

      <span class="spacer"></span>
      <form (ngSubmit)="salir()">
        <button mat-raised-button color="basic"
              type="submit"
                >
              logout
        </button>
      </form>
    </mat-toolbar>
</p>

 <h2>poner fondo transparente, agregar caja dinamica de favoritos, y un ngIF si no se busco nada, arreglar por que desaparece el toolbar si no se busca nada </h2>
  
    <div class="container text-center">
        <h1>Buscar</h1>
        <mat-divider></mat-divider>
    </div>

    
    <div class="container text-center">
      <form (ngSubmit)="enviar( termino )" #termino="ngForm" class="row g-3" >
        <div class="col-9">
          <input type="text" 
                 class="form-control"
                 autocomplete="off"
                 ngModel
                 name="nombres"
                 placeholder="buscar...">
        </div>
        
        <div class="col-auto">
          <button class="btn btn-outline-primary bi bi-search" type="submit"></button>
        </div>
      </form>
      
    </div>

  
      <h1>Menu</h1>
      <div class="album py-5 bg-light">
        <div class="container-sm">
          <div class="row">
              <ul class="col-md-3" *ngFor="let plato of data.results" >
                <li   class=" mb-4 box-shadow">
                  <mat-card class="">
                    <mat-card-header>
                      <mat-card-title>{{ plato.title }}</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src= {{plato.image}}>
                    <mat-card-content>
                      <p>
                         precio: {{ plato.pricePerServing }} $
                         <br>
                         tiempo de preparacion: {{ plato.readyInMinutes }} minutos
                         <br>
                         health score: {{ plato.healthScore }}
                         <br>
                         Es vegano: {{ plato.vegan}} 

                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>agregar al pedido</button>
                      
                    </mat-card-actions>
                  </mat-card>
                </li>
              </ul>
            
          </div>
        </div>
      </div>
    


    
    

    
    




  