<app-navbar></app-navbar>

 
  

 <ng-container *ngIf="platosElejidos.length > 0 ; else menuvacio" class="pt-5 text-center container">
  >
    <div class="row py-lg-5">
        <div>
             <h1 style="text-align:center ;">Su Orden</h1>
        </div >
        <div class="album py-5 ">
          <div class="container" style="text-align:center ;">
            <ul>
              <li class="list-group-item list-group-item-action list-group-item-success"> Total a pagar: {{ preciototal | currency}}</li>
              <li class="list-group-item list-group-item-action list-group-item-success">  Tiempo de cocina: {{ tiempo | number: '1.1-2'}} minutos </li>
              <li class="list-group-item list-group-item-action list-group-item-success"> Su HealthScore: {{ health | number:'1.1-2'}} puntos </li>
            </ul>
          </div>
        </div>
        <div class="album py-5 ">
            <div class="container">
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                <div class="col" *ngFor="let plato of platosElejidos">
                  <app-carta [plato]="plato" (boton)="borrar($event)" [condicion]="false"></app-carta>
                </div>
              </div>
            </div>
          </div>
        
    </div>
    
  </ng-container>
  <ng-template #menuvacio class="row ">
    <div class="container text-center">
     <div class="album py-5  ">
       <h2 class=".text-dark"> Aqui no hay nada</h2>
       <br>
       <h2 class=".text-dark"> Por favor agrege su orden desde la pestaña Buscar</h2>

     </div>
   </div>

  </ng-template>

    

    
    

    
    




  